.ad-cart {
    box-shadow: 0 6px 10px 2px #21212120;
}

@media (min-width:700px) {
    .ad-cart:hover {
        box-shadow: 0 6px 10px 2px #21212130;
        transform: scale(1.02);
    }
}
.price{
    font-size:10px;
    font-weight: 700 !important;
}

@media (max-width:700px) {
    .ad-cart{
       width: 80%;
    }
    .image{
        width: 80%;
        margin: 0 auto;
    }
}